body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #E7D2CC ;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.team-member {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-details {
  flex: 1;
}

.member-details h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: black;
}

.member-details p {
  font-size: 1em;
  color: black;
}

footer {
  background-color: #868B8E;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 40px;
}

.social-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: black;
}

@media (max-width: 768px) {
  .container {
  width: 95%;
  margin: 20px auto;
}

.team-member {
  flex-direction: column;
  text-align: center;
}

.team-member img {
  width: 120px;
  height: 120px;
}

.social-links a {
  margin: 0 10px;
}
}